body {
    background-color: #ffffff;
    padding: 0vw;
    margin: 0vw 10vw;
}

#header {
    width: 100%;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #f0f0f0;
}

#header_text {
    width: 100%;
    color: #000000;
    font-family: 'Dosis', sans-serif;
    font-size: 6vh;
    text-align: center;
}

div #navBar {
    width: 79vh;
    height: 5vh;
    margin: 20px calc(50% - 39.5vh) 15px;
}

div.navBarbutt {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4vh;
    color: #000000;
    margin: 0vh 1.9vh;
    width: 12vh;
    text-align: center;
}

div.navBarbutt>a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 2.4vh;
    transition: 0.3s;
}

div.navBarbutt>a:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

div.navBarbutt>a:visited {
    color: #555555;
}

#header_text>a, #header_text>a:hover, #header_text>a:visited {
    text-decoration: none;
    color: inherit;
}